:root {
    --darkGold: #8e793e;
    --gold: #ad974f;
    --black: #000000;
    --semiLightBlack: #231f20;
    --semiDarkWhite: #eaeaea;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--semiLightBlack);
    color: var(--semiDarkWhite);
    font-family: 'Courier New', Courier, monospace;
}

.active {
    background-color: var(--gold);
    color: var(--semiLightBlack);
    border-radius: 0.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;